  :root {
    --bg-color: black;
    --white: #fff;
    --header: rgb(21, 128, 123);
  }
  
  main {
    padding: 20px;
  }

  .aboutme, .work, .contact, .resume {
    margin-bottom: 50px;
  }

  body {
    font-size: 17.5px;
    background-color: rgb(37, 37, 37);
    line-height: 1.1;
  }

  /* css for header */
  .header {
    background-color: var(--bg-color);
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    padding: 20px 0;
    min-height: 200px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
  }
  
  header img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border-radius: 50%; /* to make it round */
  }

  /* css for nav section */
  .header a {
    color: var(--header);
    text-decoration: none;
  }

  .header a:hover::after { /* trying to make it change color when hovering mouse */
    color: #fff;
    text-decoration: underline;
  }

  .header nav {
    font-size: 1rem;
  }
  
  .header nav ul {
    list-style: none;
  }
  
  .header nav ul li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 10px;
  }

  /* css for h1 and h2 */
  .header h1 {
    display: flex;
    align-items: center;
    color: var(--header);
    font-size: 3rem; 
    margin-bottom: 10px;
  }

  h2 {
    color: var(--header);
    text-align: left;
    font-size: 2rem; 
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* css for footer */ 
  footer {
    background-color: var(--bg-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* css for Work section */
  .work-projects {
    width: 100%; 
    margin-bottom: 50px; 

    display: flex; /* flexbox for the work items */
    flex-wrap: wrap; 
    justify-content:center; 
  }

  .work-project {
    box-shadow: 0 0 0 0;
    transition: all ease-in-out 250ms; /* experiment w this */
  }

  .work-project:hover {
    box-shadow: 0 0 10px 5px green;
    border-radius: 8px;

  }

  .work-project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .work-project p {
    margin-top: 10px;
    text-align: center;
  }
  
  /* css for Contact me section */
  .contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }

  

  /* my media queries */
  @media screen and (min-width: 768px) {
    main {
      padding: 20px;
    }
  
    .work-project {
      width: 50%;
      margin: 1%; 
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      width: 100%;
    }
  
    .work-project {
      width: 35%; 
      margin: 1%;
    } 
  }
  
  